<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/muse/pascal/edit.html</url-pattern>
      <url-pattern>/muse/pascal/entry/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <servlet>
    <servlet-name>routing</servlet-name>
    <servlet-class>cn.orz.pascal.gae.framework.RoutingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>routing</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>routing</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>cn.orz.pascal.gae.framework.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>
